intermediate
perf.data
perf.data.old
*.log
*.opb
*.a
/sum_all_different
/sudoku
/money
/langford
/reif_eq
/crystal_maze
/triangle
/colour
/ortho_latin
/three_all_differents
/skyscrapers
/arithmetic_test
/comparison_test
/abs_test
/element_test
*.opb
*.veripb
