intermediate
perf.data
perf.data.old
*.a
*.log
*.opb
*.veripb
/abs_test
/arithmetic_test
/cake
/colour
/comparison_test
/crystal_maze
/element_test
/equals_test
/langford
/linear_equality_test
/magic_series
/magic_square
/min_max_test
/money
/n_queens
/odd_even_sum
/ortho_latin
/qap
/skyscrapers
/three_all_differents
/triangle
